


<form action="/write" method="post">
    <div class = "row">
        <div class = "col-md-5 col-md-offset-1">
                <img src ="/assets/logo.jpg"/>
        </div>
        <div class = "col-md-5 ">
            <center><br><br><br><br><br><br><br><br><br><br>
                <p style="color:#919BB5 ; font-size :50px">희망은 나눔이 되고,</p>
                <p style="color:#919BB5 ; font-size :50px">나눔은 행복이 됩니다.</p>
            </center>
        </div>        
       
    </div>
    
     <center>    
            <p style="font-size:30px">로또 번호 입력</p>
        </center>
    <div class = "row">
        <center>
            <input type = "text" name = "num1" style="width:40px ;height:40px;font-size:30px">
            <input type = "text" name = "num2" style="width:40px ;height:40px;font-size:30px">
            <input type = "text" name = "num3" style="width:40px ;height:40px;font-size:30px">
            <input type = "text" name = "num4" style="width:40px ;height:40px;font-size:30px">
            <input type = "text" name = "num5" style="width:40px ;height:40px;font-size:30px">
            <input type = "text" name = "num6" style="width:40px ;height:40px;font-size:30px">
        </center>
    </div>
    <br>
    <center>
        <button type ="submit">제출</button>
    </center>
    
</form>
